
<div *ngIf="ticket">
    <h2><span jhiTranslate="jhipsterApp.ticket.detail.title">Ticket</span> {{ticket.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.ticket.title">Title</span></dt>
        <dd>
            <span>{{ticket.title}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.ticket.description">Description</span></dt>
        <dd>
            <span>{{ticket.description}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.ticket.dueDate">Due Date</span></dt>
        <dd>
            <span>{{ticket.dueDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.ticket.done">Done</span></dt>
        <dd>
            <span>{{ticket.done}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.ticket.project">Project</span></dt>
        <dd>
            <div *ngIf="ticket.project">
                <a [routerLink]="['/project', ticket.project?.id]">{{ticket.project?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.ticket.assignedTo">Assigned To</span></dt>
        <dd>
            {{ticket.assignedTo?.login}}
        </dd>
        <dt><span jhiTranslate="jhipsterApp.ticket.label">Label</span></dt>
        <dd>
            <span *ngFor="let label of ticket.labels; let last = last">
                <a [routerLink]="['/label', label?.id ]">{{label.label}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
