<div>
    <h2>
        <span jhiTranslate="jhipsterApp.ticket.home.title">Tickets</span>
        <button class="btn btn-primary float-right create-ticket" [routerLink]="['/', { outlets: { popup: ['ticket-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.ticket.home.createLabel">
            Create new Ticket
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tickets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="jhipsterApp.ticket.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="jhipsterApp.ticket.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dueDate"><span jhiTranslate="jhipsterApp.ticket.dueDate">Due Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="done"><span jhiTranslate="jhipsterApp.ticket.done">Done</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="project.name"><span jhiTranslate="jhipsterApp.ticket.project">Project</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="assignedTo.login"><span jhiTranslate="jhipsterApp.ticket.assignedTo">Assigned To</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of tickets ;trackBy: trackId">
                <td><a [routerLink]="['../ticket', ticket.id ]">{{ticket.id}}</a></td>
                <td>{{ticket.title}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.dueDate | date:'mediumDate'}}</td>
                <td>{{ticket.done}}</td>
                <td>
                    <div *ngIf="ticket.project">
                        <a [routerLink]="['../project', ticket.project?.id ]" >{{ticket.project?.name}}</a>
                    </div>
                </td>
                <td>
                    {{ticket.assignedTo?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ticket', ticket.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="tickets && tickets.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
