

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTicketLabel" jhiTranslate="jhipsterApp.ticket.home.createOrEditLabel">Create or edit a Ticket</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ticket.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ticket.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.ticket.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="ticket.title"
            required />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.ticket.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="ticket.description"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.ticket.dueDate" for="field_dueDate">Due Date</label>
            <div class="input-group">
                <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker  #dueDateDp="ngbDatepicker" [(ngModel)]="ticket.dueDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dueDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.ticket.done" for="field_done">Done</label>
            <input type="checkbox" class="form-control" name="done" id="field_done"
                [(ngModel)]="ticket.done"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="jhipsterApp.ticket.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="ticket.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === ticket.project?.id ? ticket.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jhipsterApp.ticket.assignedTo" for="field_assignedTo">Assigned To</label>
            <select class="form-control" id="field_assignedTo" name="assignedTo" [(ngModel)]="ticket.assignedTo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === ticket.assignedTo?.id ? ticket.assignedTo : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jhipsterApp.ticket.label" for="field_label">Label</label>
            <select class="form-control" id="field_label" multiple name="label" [(ngModel)]="ticket.labels">
                <option [ngValue]="getSelected(ticket.labels, labelOption)" *ngFor="let labelOption of labels; trackBy: trackLabelById">{{labelOption.label}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
